<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CalculatorEntities" connectionString="metadata=res://*/CalculatorDataModel.csdl|res://*/CalculatorDataModel.ssdl|res://*/CalculatorDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USNR-3JX8S72\SQLEXPRESS2017;initial catalog=Calculator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>